@import "../../../../styles/tokens/all";

.channel__status {
  display: flex;
  flex-direction: column;
  padding: $space--sm;
  border-radius: $space--xs;
  box-shadow: 0 0 8px 4px $color--gray;

  .img__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .title {
    text-decoration: underline;
    color: $color--blue;
    font-size: $font--xxl;
    font-weight: bold;
    text-align: center;
    margin: $space--sm 0;
  }

  .status__box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: $font--lg;

    span {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
