@import "../../../styles/tokens/all.scss";

.account__login {
  background: url('/images/actress/anadearmas.webp');
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: $space--sm;
  height: 1000px;

  .logo__wrap {
    background: $color--white;
    border-radius: $space--sm;
    width: 65%;
    margin: 0 auto;

    @include desktop-view {
      width: 30%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .subtitle {
    color: $primary-color;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    font-style: italic;
    padding: $space--xs 0;

    @include desktop-view {
      font-size: 48px;
    }
  }

  .text {
    margin-top: 56px;
    color:$color--white;
    font-weight: bold;
    padding: $space--sm 0;
    font-size: $font--lg;
    text-align: center;

    @include desktop-view {
      font-size: $font--xxl;
      text-align: center;
      margin-left: 0;
    }
  }

  .gsignin__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
