@import '../../../../styles/tokens/all';

.user__flow {
  margin-bottom: $space--xs;

  @include desktop-view {
    border: 1px solid $primary-color;
    padding: $space--xs;
  }

  h3 {
    margin-top: 0;
    color: $primary-color;
  }

  .steps {
    display: grid;
    grid-template-columns: 50% 50%;

    @include desktop-view {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      color:$primary-color;
      margin-bottom: $space--xs;
    }

    svg {
      font-size: 28px;
      color:$primary-color;
      margin-right: $space--xs;
    }
  }
}