@import '../../../../styles/tokens/all';

.post__card {
  .card {
    border: 1px solid $color--black;
    margin: $space--sm 0;
    display: flex;
    flex-direction: column;
    border-radius: $space--xs;
    padding: 0 0 $space--xs;

    @include desktop-view {
      width: 60%;
      margin: $space--sm auto;
    }

    .img__wrap {
      img {
        width: 100%;
        border-radius: $space--xs $space--xs 0 0;

        @include desktop-view {
          height: 300px;
        }
      }
    }

    .description {
      padding: 0 $space--xs;
    }
  }
}