@import "../../../../styles/tokens/all";

.waiting__confirmation {
  padding: $space--xs 0;

  .status {
    font-size: $font--lg;
    margin-bottom: $space--xs;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $space--sm;
    border-radius: $space--xs;
    box-shadow: 0 0 8px 4px $color--gray;
    text-align: center;
    font-size: $font--lg;
    line-height: 1.5;
    background: $color--barely-blue;

    svg {
      font-size: 48px;
      color: $primary-color;
    }
  }
}
