@import "../../styles/tokens/all.scss";

.account {
  &__tabs {
    display: grid;
    grid-template-columns: 50% 50%;

    &__body {
      padding: $space--lg 0;
    }

    button {
      padding: $space--sm;
      font-size: $font--xl;
      background: none;
      border: none;
      border-bottom: 1px solid $color--gray;
    }

    .btn__active {
      color:$color--blue;
      font-weight: bold;
      border-bottom: 2px solid $color--blue;
    }
  }

  &__user {
    @include desktop-view {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .logout__btn {
    background: $color--white;
    font-size: $font--md;
    color: $color--blue;
    border: 1px solid $color--blue;

    &:hover {
      background: $color--blue;
      color: $color--white;
      padding: $space--xs;
      border-radius: $space--sm;
    }
  }
}