@import '../../styles/tokens/all.scss';

.account {
  @include desktop-view {
    padding: $space--sm;
    border-left: 1px solid $color--blue;
    border-right: 1px solid $color--blue;
  }

  &__logout {
    padding: $space--xs;
    font-size: $font--md;
    margin: $space--md 0;
    border-radius: $space--xs;
    color: $color--blue;
    border: none;
  }
}