@import "../../../../styles/tokens/all";

.my__subscriptions {
  display: flex;
  flex-direction: column;

  .no__subscriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $space--xs;
    box-shadow: 0 0 8px 4px $color--gray;
    padding: $space--sm;

    @include desktop-view {
      width: 50%;
      margin: auto;
      padding: $space--lg;
    }

    svg {
      font-size: 64px;
      color: $color--blue;
    }

    .text {
      font-size: $font--lg;
      padding: $space--sm;
      text-align: center;
    }
  }

  .list {
    .link {
      padding: $space--sm 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid $color--barely-blue;

      &:hover {
        background: $color--barely-blue;
      }

      &__title {
        color: $color--blue;
        font-weight: bold;
      }

      svg {
        color: $color--blue;
        font-size: 28px;
      }

      @include desktop-view {
        padding: $space--sm $space--xs;
      }
    }
  }
}
