@import '../../../../styles/tokens/all';

.file__input {
  width: 100%;
  color: $primary-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: $color--white;
  border: 1px dashed $primary-color;
  border-radius: $space--xxs;
  cursor: pointer;
  height: 150px;
  background: $color--barely-blue;

  label {
    font-size: $font--lg;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  svg {
    font-size: 48px;
    margin-bottom: $space--xs;
  }

  input[type="file"] {
    display: none;
  }
}