@import "../../../../styles/tokens/all";

.post__card {
  padding: $space--xs 0;
  border-top: 1px solid $color--gray;
  border-bottom: 1px solid $color--gray;

  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__info {
      display: grid;
      grid-gap: 2%;
      grid-template-columns: 30% 70%;
      padding: $space--xs 0;
      cursor: pointer;
    }

    a {
      background: $color--blue;
      color: $color--white;
      padding: $space--xs;
      border-radius: $space--xs;
    }

    .channel__img {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        border-radius: 50%;
        max-height: 50px;
      }
    }

    .title {
      font-weight: bold;
      color: $color--blue;
      font-size: $font--lg;

      @include desktop-view {
        font-size: $font--xxl;
        padding: $space--xs 0;
      }
    }
  }

  .video__wrap {
    video {
      width: 100%;
      height: auto;
      border-radius: $space--xs;
    }
  }

  .img__wrap {
    display: flex;
    justify-content: center;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      border-radius: $space--xs;
    }
  }
}
