@import '../../../../styles/tokens/all';

.upload__post {

  @include desktop-view {
    width: 60%;
    margin: 0 auto;
  }

  .title {
    text-align: center;
  }

  .form {
    &__field {
      display: flex;
      flex-direction: column;
      margin-bottom: $space--sm;
    }

    label {
      font-size: $font--lg;
      font-weight: bold;
    }

    textarea {
      padding: $space--xs;
      border-radius: $space--xs;
    }

    .file__label {
      width: 100%;

      input {
        width: 100%;
      }

      ::-webkit-file-upload-button {
        content: "Browse Files";
        cursor: pointer;
        padding: $space--xs;
        border: none;
        font-size: $font--lg;
        border-radius: $space--xs;
        width: 60%;
        margin-right: $space--sm;
      }
    }

    .cta {
      padding: $space--xs;
      background: $color--blue;
      margin: $space--xl 15%;
      width: 70%;
      border: none;
      color: $color--white;
      font-size: $font--xl;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $space--xs;

      svg {
        margin-left: $space--sm;
      }

      @include desktop-view {
        margin: $space--xl 20%;
      }
    }
  }

  .back__btn {
    font-size: 36px;
    background: none;
    border: none;
    color:$color--blue;
  }
}