@import "../../../../styles/tokens/all";

.upload__post {
  .title {
    text-align: center;
  }

  form {
    padding: 0 $space--sm;
    &__error {
      color: red;
      margin: $space--sm 0;
    }
  }
}
