@import '../../../../styles/tokens/all';

.channel__tab {
  .main {
    @include desktop-view {
      padding: 0 $space--lg;

      h2 {
        margin-top: 0;
      }
    }
  }

  @include desktop-view {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}