@import "../../../../styles/tokens/all";

.channel__tab {
  .main {
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      .upload__btn {
        color: $color--white;
        background: $color--blue;
        border: none;
        border-radius: $space--xs;
        font-size: $font--lg;
        padding: $space--xs $space--sm;
      }
    }

    @include desktop-view {
      padding: 0 $space--lg;

      h2 {
        margin: 0;
      }

      .posts__wrap {
        width: 80%;
      }

      &__head {
        width: 80%;

        .upload__btn {
          margin-bottom: $space--xxs;
        }
      }
    }
  }

  @include desktop-view {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}
