@import "../../styles/tokens/all";

.channel__status {
  display: flex;
  flex-direction: row;
  padding: $space--xs;
  height: 50px;
  margin-bottom: $space--lg;

  @include desktop-view {
    width: 100%;
    border: 1px solid $primary-color;
    border-radius: $space--xxs;
    padding: 0;
    height: 75px;
  }

  .img__wrap {
    width: 15%;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    @include desktop-view {
      width: 10%;
      display: grid;
      place-items: center;
      img {
        width: 65px;
        height: 65px;
      }
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    padding: 0 $space--xs;
    font-size: $font--lg;

    .title {
      color: $primary-color;
      font-weight: bold;
      margin-bottom: $space--xxs;
    }

    .subtitle {
      span {
        margin-right: $space--xs;
      }
    }

    @include desktop-view {
      justify-content: center;
      font-size: $font--xl;
    }
  }

  .setting {
    color: $primary-color;
    margin: $space--sm $space--xs auto auto;
    font-size: $font--lg;
    cursor: pointer;

    @include desktop-view {
      margin-top: $space--lg;
      font-size: $font--xxl;
    }
  }
}
