@import "../../styles/tokens/all";

.navigation__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $primary-color;
  padding: $space--xs;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  span {
    display: grid;
    place-items: center;
  }

  svg {
    color: $color--white;
    font-size: 36px;
    padding: $space--xxs;
    border-radius: 50%;
    margin: auto;
  }
}
