@import "../../styles/tokens/all";

.navigation__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $color--white;
  padding: $space--xs;
  display: grid;
  grid-template-columns: 33% 33% 33%;

  svg {
    color: $color--blue;
    font-size: 36px;
    border: 1px solid $color--blue;
    padding: $space--xxs;
    border-radius: 50%;
    margin: auto;
  }
}
