@import '../../styles/tokens/all';

.post__card {
  width: 100%;

  .img__wrap {
    img {
      width: 100%;
      height: auto;
      max-height: 250px;

      @include desktop-view {
        height: 200px;
        border-radius: $space--xs;
      }
    }
  }

  .video__wrap {
    .video {
      width: 100%;
      height: auto;
      max-height: 250px;
    }

    @include desktop-view {
      height: 200px;

      >div {
        border-radius: $space--xs !important;
      }
    }
  }

  .caption {
    padding: $space--xs;
    display: flex;
    flex-direction: row;

    .channel__img {
      margin-right: $space--xs;

      img {
        border-radius: 50%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      div:first-child {
        font-size: $font--xl;
        color: $primary-color;
        font-weight: bold;
        overflow: hidden;
      }
    }
  }

  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $popup-background-color;
    z-index: 10;

    .box {
      width: 50%;
      position: relative;
      margin: 10% auto;
      background: $color--white;
      padding: $space--xs;
      border-radius: $space--xs;

      img {
        height: auto !important;
      }

      .video__wrap {
        height: unset;
        > div {
          z-index: 10;
        }
      }

      .close {
        position: absolute;
        top: -15%;
        right: 0;
        color: $color--white;
        background: none;
        font-size: $font--xxxl;
      }
    }
  }
}