@import "../../styles/tokens/all.scss";

.navbar {
  margin: auto;
  padding: 0 $space--xs;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include desktop-view {
    width: 1024px;
    max-height: 75px;
  }

  h2 {
    color: $primary-color;
    text-align: center;
    cursor: pointer;

    @include desktop-view {
      font-size: 36px;
    }
  }

  a {
    color: $color--blue;
    font-size: $font--lg;
  }

  &__blue {
    background: $primary-color;
    h2 {
      margin: 0;
      padding: $space--sm;
      color: $color--white;
    }
  }

  &__login {
    background: $primary-color;
    width: 100%;
    padding: 0 $space--xs;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
      color: $color--white;
      text-align: center;

      @include desktop-view {
        font-size: 32px;
      }
    }

    .menu {
      padding: $space--xs;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 $space--xs;
        color: $color--white;
      }

      svg {
        color: $color--white;
        font-size: 36px;
        padding: $space--xxs;
        border-radius: 50%;
        margin: auto;
        margin-right: $space--xs;
      }
    }
  }
}
