@import "../../styles/tokens/all";

.subscription__slug {
  line-height: 2;
  border: 1px solid $color--white;
  padding: $space--xs;
  font-size: $font--lg;
  @include desktop-view {
    width: 50%;
    margin: $space--lg auto;
    border: none;
  }

  
}
