@import "../../../../styles/tokens/all";

.profile__card {
  width: 100%;
  border-radius: $space--xs;
  border: 1px solid $primary-color;
  padding: $space--xs;
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-bottom: $space--sm;

  .profile__image {
    width: 10%;
    border-radius: 100%;
    margin-right: $space--xs;
    font-size: $font--lg;
    padding: $space--xs 0;
    color: $color--white;
    background: $color--blue;
    display: grid;
    place-items: center;
  }

  .name {
    font-size: $font--lg;
    font-weight: bold;
  }
}
