@import "../../../../styles/tokens/all";

.channel__stats {
  @include desktop-view {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .subscribe__cta {
    background: $color--blue;
    padding: $space--xs;
    border-radius: $space--xs;

    @include desktop-view {
      font-size: $font--lg;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40%;
      margin: 20% 0;
      margin-left: 50%;
    }
  }

  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__numbers {
    display: grid;
    grid-template-columns: 50% 50%;

    span {
      padding: $space--xs;
      border: 1px solid $color--white;
    }

    @include desktop-view {
      font-size: $font--xxl;

      span {
        text-align: center;
        border: unset;
      }
    }
  }
}
