@import "../../../../styles/tokens/all";

.await__payment {
  padding: $space--lg $space--lg 0;
  border-radius: $space--xs;
  box-shadow: 0 0 8px 4px $color--gray;

  @include desktop-view {
    margin: 0 10%;
    padding-bottom: $space--lg;
  }

  .title {
    font-size: $font--xl;
    font-weight: bold;
    text-align: center;
    margin-bottom: $space--sm;
  }

  .subtitle {
    font-size: $font--lg;
    text-align: center;
    margin-bottom: $space--sm;
  }

  .info {
    font-size: $font--lg;
    line-height: 1.5;
  }

  .renew {
    padding: $space--sm 0;
    display: flex;
    flex-direction: column;

    &__info {
      font-style: italic;
      font-size: $font--md;
    }

    button {
      width: 100%;
      font-size: $font--lg;
      font-weight: bold;
      text-align: center;
      border-radius: $space--xs;
      padding: $space--xs;
      margin: $space--sm 0;
      color: $color--white;
      border: none;
      background: $color--blue;
    }
  }

  .payment__link {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $primary-color;
    color:$color--white;
    padding: $space--xs 0;
    margin: $space--sm 0;
    border-radius: $space--xs;
  }
}
