@import "../../../../styles/tokens/all";

.not__subscribed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $space--lg;

  svg {
    font-size: 64px;
    color: $color--blue;
  }

  .title {
    font-size: $font--lg;
    margin: $space--lg $space--lg $space--xs;
  }

  .subtitle {
    font-size: $font--lg;
    margin: 0 $space--lg $space--lg;
  }

  .cta {
    color: $color--white;
    background: $color--blue;
    border: none;
    border-radius: $space--xs;
    font-size: $font--lg;
    padding: $space--xs $space--sm;
  }
}
