@import "../../../../styles/tokens/all";

.channel__link {
  cursor: pointer;
  padding: $space--xs;
  border: 1px solid $primary-color;
  border-radius: $space--xs;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $space--sm;

  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .content {
      padding: 0 $space--xs;
    }

    svg {
      font-size: 36px;
      color: $color--blue;
    }

    .title {
      font-weight: bold;
    }
  }

  .arrow {
    display: grid;
    place-items: center;
    font-size: 24px;
    color: $color--blue;
  }
}
