@import "../../styles/tokens/all";

.checkout {
  width: 100%;

  @include desktop-view {
    width: 40%;
    height: 100%;
    margin: auto;
    font-size: $font--lg;
  }

  .logo__wrap {
    width: 100%;
    border-bottom: 1px dotted $color--black;
    padding-bottom: $space--sm;

    img {
      width: 50%;
      margin: 0 25%;
    }
  }

  .info {
    padding: $space--sm 0;
    border-bottom: 1px dotted $color--black;

    h3 {
      text-align: center;
    }

    div {
      line-height: 1.5;
    }
  }

  .cta__btn {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 15% 85%;
    margin: $space--sm 0;

    button {
      padding: $space--xs 0;
      border-radius: $space--xxs;
      border: none;
      color: $color--white;
      font-size: $font--lg;
    }

    button:first-child {
      background: red;
    }

    .disabled__cta {
      background: gray;
    }

    .enabled__cta {
      background: $primary-color;
    }
  }
}
