@import "../../styles/tokens/all";

.footer {
  text-align: center;
  line-height: 1.5;
  color: $primary-color;
  font-size: $font--lg;
  padding: $space--sm 0;

  &__login {
    background: $primary-color;
    color: $color--white;
  }
}
