$primary-color:  #1972f5;

$color--black: #00001a;
$color--white: #f8faff;
$color-white-transparent: rgba(255, 255, 255, 0.6);

$color--gray: #efefef;
$color--blue: #1972f5;
$color--barely-blue: #e4eefd;

$box-shadow-color: 0 0 4px 4px gray;


