@import "../../../../styles/tokens/all";

.profile__section {
  border-bottom: 1px solid $color--black;

  @include desktop-view {
    border-bottom: unset;
  }

  div {
    font-size: $font--md;
    margin-bottom: $space--xs;
  }
}
