@import "../../../../styles/tokens/all";

.my__wallet {
  cursor: pointer;
  padding: $space--xs;
  border-radius: $space--xs;
  border: 1px solid $primary-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $space--sm;

  .balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    svg {
      font-size: 36px;
      color: $color--blue;
    }

    span {
      padding: 0 $space--xs;

      div:first-child {
        font-weight: bold;
      }

      div:last-child {
        color: green;
        font-style: italic;
      }
    }
  }

  a {
    display: grid;
    place-items: center;
    font-size: 24px;
    color: $color--blue;
  }
}
