@import "../../../../styles/tokens/all";

.profile__tab {
  &__user {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .subscriptions__tab {
    display: flex;
    flex-direction: row;

    button {
      width: 50%;
      border: none;
      background: none;
      font-size: $font--lg;
      padding: $space--xs;
    }

    .active__btn {
      color:$primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}
