@import "../../../../styles/tokens/all";

.create__channel {
  .hero {
    padding: $space--sm $space--xs;
    .img__wrap {
      display: grid;
      place-items: center;
    }

    .title {
      font-weight: bold;
      text-align: center;
      font-size: $font--xl;
    }

    .subtitle {
      font-size: $font--lg;
      text-align: center;
    }
  }

  form {
    background: $color--barely-blue;
    padding: $space--sm $space--xs;
  }


  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: $space--sm;

    label {
      margin-bottom: $space--xxs;

      @include desktop-view {
        font-size: $font--md;
      }
    }

    input {
      border-radius: $space--xxs;
      padding: $space--xs;
      border: 1px solid $color--blue;

      @include desktop-view {
        font-size: $font--md;
      }
    }
  }

  .error {
    color: red;
  }

  .cta {
    color: $color--white;
    background: $color--blue;
    border: none;
    border-radius: $space--xs;
    font-size: $font--lg;
    padding: $space--xs $space--sm;
    width: 100%;
    margin: $space--md auto;
  }
}
