@import "../../../../styles/tokens/all";

.create__channel {
  margin: $space--sm 0;
  padding: $space--xs 0;
  border-bottom: 1px solid $color--black;

  @include desktop-view {
    border-bottom: 0;
    width: 50%;
  }

  .title {
    line-height: 1.5;
    font-weight: bold;
  }

  .notes {
    margin-bottom: $space--xs;
  }

  .form {
    padding: $space--xs 0;

    &__input--wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: $space--xs;
    }

    label {
      font-size: $font--md;
      margin-bottom: $space--xs;
    }

    input {
      padding: $space--xs;
      font-size: $font--md;
      border-radius: $space--xs;
    }

    button {
      margin-top: $space--sm;
      width: 100%;
      padding: $space--xs;
      font-size: $font--md;
      border-radius: $space--xs;
      background: $color--blue;
      color: $color--white;
      font-weight: bold;
    }
  }
}
