@import "../../../../styles/tokens/all";

.reject__form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $popup-background-color;

  .box {
    margin: 5% auto;
    background: $color--white;
    padding: $space--sm;
    position: relative;
    width: 300px;
    border-radius: $space--sm;
    line-height: 1.5;

    .close__btn {
      position: absolute;
      top: 0;
      right: 0;
      font-size: $font--lg;
      background: $primary-color;
      color: $color--white;
    }

    input {
      padding: $space--xs;
      border-radius: $space--xs;
      width: 100%;
      margin: $space--sm 0;
    }

    button[type="submit"] {
      width: 100%;
      background: red;
      padding: $space--xs;
      color: $color--white;
      font-size: $font--sm;
      border-radius: $space--xs;
    }
  }
}
