@import "./tokens/all";

* {
  box-sizing: border-box;
}

html,
body {
  background: $color--black;
  color:$color--white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
}

.container {
  padding: $space--xs $space--xs 56px;
  margin: auto;
  @include desktop-view {
    width: 1024px;
  }
}
