@import "../../../../styles/tokens/all";

.wallet__payments {
  margin: $space--xxl 0;

  table {
    width: 100%;

    tr:nth-child(odd) {
      background: $color--barely-blue;
    }
  }

  table tr {
    text-align: center;

    td {
      padding: $space--xs;
    }

    .total_amount {
      color: green;
      font-weight: bold;
    } 
  }
}
