@import "../../../../styles/tokens/all";

.subscribe__channel {
  padding: $space--lg;
  border-radius: $space--xs;
  box-shadow: 0 0 8px 4px $color--gray;

  @include desktop-view {
    margin: 0 10%;
  }

  .title {
    text-align: center;
  }

  .subtitle {
    line-height: 1.5;
    font-size: $font--lg;
    margin-bottom: $space--sm;
  }

  .user {
    line-height: 1.5;
    font-size: $font--lg;
  }

  .plan__wrap {
    margin: $space--md 0;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 50% 50%;

    button {
      line-height: 1.5;
      font-size: $font--md;
      background: none;
      border: 1px solid gray;
      border-radius: $space--xs;
      margin-bottom: $space--xs;
    }

    .btn__active {
      color: $color--blue;
      border: 1px solid $color--blue;
    }
  }

  .cta {
    width: 80%;
    margin: 0 10%;
    padding: $space--xs 0;
    border: none;
    color: $color--white;
    font-weight: bold;
    font-size: $font--lg;
    border-radius: $space--xs;
    background: $color--blue;
  }
}
