@import "../../../../styles/tokens/all";

.post__card {
  padding: $space--xs 0;
  border-top: 1px solid $color--gray;
  border-bottom: 1px solid $color--gray;

  &__head {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 20% 80%;
    padding: $space--xs 0;

    .channel__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin: 0 auto;

      @include desktop-view {
        width: 75px;
        height: 75px;
      }

      img {
        width: 100%;
        border-radius: 50%;
        height: 100%;
      }
    }

    .post__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .title {
      font-weight: bold;
      font-size: $font--lg;

      @include desktop-view {
        font-size: $font--xxl;
        padding: $space--xs 0;
      }
    }
  }

  .video__wrap {
    cursor: pointer;
    video {
      width: 100%;
      height: auto;
      border-radius: $space--xs;
    }
  }

  .img__wrap {
    display: flex;
    justify-content: center;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      border-radius: $space--xs;
    }
  }
}
